p{
    color: aliceblue;
    margin: 5px;
    line-height: 1.3em;
}

.title{
    color: aliceblue;
    margin: 10px 0px;
    text-transform: uppercase;
}


.btn{
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 90px;
    margin: auto;
    border: 3px solid;
    display: flex;
    padding: 10px;
}

.btn:hover{
    background-color: white;
    color: #008081;
    border: 1px #008081 solid;
}

.btn-content{
    margin: auto 10px;
    text-align: center;
}

.card{
    display: flex;
    justify-content: center;
}

.left{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;

}

.right{
    width: 40%;
    display: flex;
    padding: 35px;
}