<div class="card card__title-text-cta card__title-text-cta--{{ variant }}">
	<h5 class="card__title">{{ title }}</h5>
	<p class="card__text">{{ text }}</p>
	<div class="card__cta">{{ cta }}</div>
</div>